
<form method='post' action='/dql'>
    <label> search by name </label>
    <input type='text' name='test'>
    <input type='submit' value='serach'>
</form>

{% for st in students%}

{{st.id}}
{{st.name}}
{{st.email}}
{{st.age}}
{% endfor %}